.header{
    background-color: red;
    padding:1.2vw;
    border-radius: 5px;
    position: fixed;
    width: 23vw;
    z-index: 99;
}
.message{
    margin-bottom: 5vw;
    margin-top: 5vw;
    overflow: auto;
    /* background-color: blue */
}
.send{
    margin-top: 200px;
    position: fixed;
    bottom: 73px;
    width: 30vw;
    background: #f1f1f1; 
    
}
.send input {
  width: 75%;
  padding: 15px;
  margin: 5px 0 22px 0;
  background: #f1f1f1;
  border: none;
  resize: none;
    /* width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border-radius: 10px;
    background: #f1f1f1;
    resize: none; */
  }
.receive{
    background-color: aqua
}
.footer{
    background-color: blueviolet
}
.container {
  
  }
  .plain{
    background-color: #f1f1f1;
    border-radius: 20px;
    padding: 5px;
    margin-top: 2vw;
    overflow: auto;
    font-size:1vw;
    display: inline-block;
  }
  .darker {
    border-color: #ccc;
    background-color: #2e66c9;
    color: white;
    margin-left: 6vw;
    border-radius: 20px;
    padding: 5px;
    overflow: auto;
    font-size:1vw;
    float: right;
    margin-top: 1vw;
  }
.chat{
    border-radius: 20px;
    height: 28vw;
    width: 25vw;
    overflow: auto;
    position: fixed;
    bottom: 95px;
    right: 75px;
    box-shadow: 0px 0px 5px 5px #edeef4;
}
.leftHead{
    float: left;
}
.rightHead{
    float: right;
    margin-right: 1vw;
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}
.option{
    min-width: 22%;
    margin-left: 2%;
    border-color: blue;
    border-radius: 10px;
    color: blue;
    border-width: 1px;
    /* border-radius: 40%; */
    font-size: 1vw;
    /* box-shadow: 2px 2px 2px 2px blue; */
    background-color: white;
}

.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin-left: 6vw;
  /* margin-top: 4vw; */

}
.slideshow-container img{
  border-radius: 10px;
  margin-top: 1vw; 
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  /* background-color: black; */
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #c7c9cc;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.scrollmenu {
    overflow: auto;
    white-space: nowrap;
    margin-top: 6vw;
  }

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
.button-element button{
  position:relative;
  width:15%;
  height:100%;
}

.templateSlides{
  display: none;
}
.hide {
  display: none;
}

.show {
  display: block;
}
.template{
  border: solid #c6cad1;
  border-radius: 10px;
  margin: 2vw;
  text-align: center;
}
.template-text{
  border-top: solid #c6cad1;
  border-bottom: solid #c6cad1;
}
.template-button{
  margin: 0.5vw;
}
.template img{
  border-radius: 5px;
}

.prevs, .nexts {
  cursor: pointer;
  position: absolute;
  top: 80%;
  width: auto;
  padding: 16px;
  /* margin-top: -22px; */
  color: black;
  /* background-color: black; */
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.nexts {
  right: 15px;
  border-radius: 3px 0 0 3px;
}
.prevs{
  left: 10px;
}
/* On hover, add a black background color with a little bit see-through */
.prevs:hover, .nexts:hover {
  background-color: #c7c9cc;
}

.inlineButton{
  text-align: center;
  margin-top: 5vw;
}

.showButton {
  display: inline-block;
}
.buttonElement{
  min-width: 22%;
  margin-left: 2%;
  border-color: blue;
  border-radius: 20px;
  color: blue;
  border-width: 1px;
  /* border-radius: 40%; */
  font-size: 1vw;
  /* box-shadow: 2px 2px 2px 2px blue; */
  background-color: white;
}
.left{
  background-color: white;
  border: none;
  color: blue;
  margin: 0.3vw;
}
.right{
  background-color: white;
  border: none;
  color: blue;
  margin: 0.3vw;

}